.animate {
  -webkit-animation: KEYFRAME-NAME .7s;
  -moz-animation:    KEYFRAME-NAME .7s;
  -o-animation:      KEYFRAME-NAME .7s;
  animation:         KEYFRAME-NAME .7s;
}

@-webkit-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes KEYFRAME-NAME {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}